body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  margin: 0;
  padding: 0.77rem 0;
  background-color: #010c3f;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: #fff;
}

h1 .highlight {
  color: #6c41ec;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  background-image: url('./background_photo_desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-Sign-In {
  height: 100vh;
  padding: 0 17% 10% 17%;
  background-image: url('./background_photo_desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.App-Sign-In button {
  cursor: pointer;
  margin-top: 5%;
  width: 30%;
  color: white;
  padding: 0.77rem 0;
  border-radius: 54px;
  background-color: #010c3f;
  text-align: center;
  font-size: 1rem;
  transition: background-color 0.25s;
  text-transform: uppercase;
}

.App-Sign-In p {
  font-size: 30px;
  line-height: 1.2;
  text-transform: capitalize;
}

@media only screen and (max-width: 1024px) {
  .App-Sign-In p {
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
  }
  .App-Sign-In button {
    width: 80%;
    margin: 10%;
  }
}

.App button:hover {
  background-color: rgba(108, 65, 233, 0.7);
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
